@import compass/reset
@import fancy_buttons

#should work in compass but currently not
=ellipsis(!no_wrap = true)
    @if !no_wrap
        white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    -o-text-overflow: ellipsis
    -ms-text-overflow: ellipsis

!images = /public/images/mobile
!colortheme ||= #BBB0A6
!colordark = darken_percent(!colortheme, 30%)
!colorlight = lighten_percent(!colortheme, 50%)

*
    margin: 0
    padding: 0

body
    background: #000
    font: 14px Hevetica, "Lucida Grande", sans-serif
    overflow-x: hidden

    -webkit-tap-highlight-color: rgba(0,0,0,0)
    -webkit-perspective: 800
    -webkit-user-select: none
    -webkit-text-size-adjust: none
    -webkit-transform-style: preserve-3d
    
    > *
        display: none
        position: absolute
        left: 0
        width: 100%
        min-height: 420px !important
        -webkit-backface-visibility: hidden
        -webkit-box-sizing: border-box
        -webkit-transform: translate3d(0,0,0) rotate(0) scale(1)
        
.standalone > *
    min-height: 460px !important

.standalone.black-translucent > *
    min-height: 480px !important

.landscape > *
    min-height: 320px
    
=iphone-header(!colorheader = !colortheme, !fontsize = "15pt")
    !colorheaderdark = darken_percent(!colorheader, 30%)
    +fancy-gradient(!colorheader, !colorheaderdark)
    !height = 37px
    text-align: center
    font-family: Helvetica
    font-weight: bold
    color: white
    font-size= !fontsize
    line-height= !height
    height= !height
    padding: 0 85px
    border-bottom: 1px solid #2d3642
    +text-shadow(rgba(0, 0, 0, 0.6), 0px, -1px, 0px)
    +ellipsis
  
=page-title
    color= !colordark
    font-size: 24pt
    +text-shadow(lighten_percent(!colortheme, 60%), 1px, 1px, 0px)

=iphone-page
    width: 100%
    height: 100%
    background: #fff
    position: relative
    display: none
    +v-gradient(!colorlight, !colortheme)    

=iphone-top-button
    position: absolute
    right: auto
    bottom: auto
    margin-top: 0px
    top: 4px

=iphone-right-button
    +iphone-top-button
    left: auto
    right: 5px
    
=iphone-left-button
    +iphone-top-button
    left: 5px
    right: auto

=iphone-button(!color = !colortheme)
    +fancy-button(!color)

 
=iphone-back-button(!imagebase=!images+ /back_button, !pixels="0 4 0 11")
    -webkit-mask-box-image= url(!imagebase+"_mask.png") !pixels repeat stretch
    -webkit-border-image= url(!imagebase+".png") !pixels repeat stretch
    +v-gradient(!colortheme, !colordark)
    font-family: Helvetica
    font-weight: bold
    font-size: 11px
    color: rgb(255, 255, 255)
    text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0px
    text-align: center
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
    height: 30px
    width: 54px
    line-height: 30px
    border-width: 0 4px 0 11px
    &.selected
        -webkit-border-image= url(!imagebase+"_active.png") !pixels repeat stretch
    &:active
        -webkit-border-image= url(!imagebase+"_active.png") !pixels repeat stretch
    -webkit-user-select: none
        
=iphone-forward-button
    +iphone-back-button(!images + /forward_button, "0 11 0 4")
    border-width: 0 11px 0 4px
=iphone-list
    list-style: none
    margin: 0
    padding: 0
    background: white
    font: bold 17px Helvetica
    
=iphone-list-item
    border-top: 1px solid #B4B4B4
    padding: 10px 10px 10px 10px
    background: url(/public/images/mobile/chevron.png) no-repeat 300px 14px
    &.selected
        background: #194FDB url(/public/images/mobile/chevron-white.png) no-repeat 300px 14px

#forfun
=iphone-apple
    font-size: 64pt
    text-shadow: rgba(255, 255, 255, 0.5) 0 1px 1px, rgba(0,0,0, 0.5) 0 -1px 1px
    margin: auto auto
    text-align: center
    