#{extends 'main.html' /}
#{set title:'Home' /}

<div class="page">
    <h1>SUP<em id="rss">rss</em></h1>
    <h2>top articles</h2>
    <ul>
        <li>
            <article>
    			<p class="date"></p>
    			<div class="text">
    			
    			</div>
    		</article>
        </li>    
        <script type="text/html" id="item_tmpl">
    		<li class="item">
    		    <a class="" href="#"><%=title%></a>
    			<article>
    				<p class="date"><%=date%></p>
					<div class="text">
						<%=description%>
					</div>
    			</article>
    			</li>
    	</script>
    </ul>
    
</div>
