!colortheme= #36b8ff
@import iphone.sass
h1
    +iphone-header

.back
    +iphone-back-button
    +iphone-left-button
.forward
    +iphone-forward-button
    +iphone-right-button
.apple
    +iphone-apple
.list
    +iphone-list
body > div  
    +iphone-page
button
    +iphone-button(black)
    margin: auto
    display: block
.ok
    +iphone-button(blue)
    margin: auto
    display: block
    
.page
    min-height: 460px
#home
    display: block

ul
    +iphone-list
li
    +iphone-list-item