<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.sass'}">
        <!-- should be a tag !!!-->
        <meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        
        
    </head>
    <body>
        #{doLayout /}
    </body>
</html>
