<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>Emulator</title>
        <link rel="stylesheet" href="@{'/public/stylesheets/emulator.sass'}" type="text/css" media="screen" charset="utf-8">
        <script src="@{'/public/javascripts/jquery-1.4.min.js'}" type="text/javascript" charset="utf-8"></script>
        
    </head>
    <body>
        <div class="emulator">
            <iframe src="/">
                
            </iframe>
        </div>
    </body>
</html>